* {
  padding: 0;
  margin: 0; }

body {
  color: gray;
  font-family: Helvetica, sans-serif; }

.handle {
  position: absolute;
  top: 50%;
  right: -35px;
  width: 50px;
  height: 50px;
  background-color: #024d6b;
  border: solid 7px gray;
  border-radius: 5px;
  transform: rotate(45deg); }

.panel {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 33%;
  padding-top: 3em; }

#panel1 {
  padding-left: 0%;
  border-right: solid 7px gray;
  background-color: #024d6b; }

#panel2 {
  padding-left: 33.331%;
  border-right: solid 7px gray;
  background-color: #024d6b; }

#panel3 {
  padding-left: 66%;
  background-color: #024d6b; }

  .panel p {
    padding: 2em;
  }
